*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.weatherForm{
    width: 70vw;
    min-height: 400px;
    background-color: teal;
    margin: 10px;
    padding: 10px;
}
.searcher{
    flex-grow: 1;
    margin-bottom: 10px;
    display: flex;
}
.searcher input{
    text-align: center;
    flex-grow: 1;
}
.searcher button{
    flex-grow: 1;
}
h2{
    text-align: center;
    flex-grow: 1;
}
.dayliTitle{
    display: flex;
}
