.Link{
    height: 30px;
    display: flex;
    margin: 20px;
    background-color: teal;
    color: aliceblue;
    text-decoration: none;
}
nav{
    padding-top: 80px;
    background-color: teal;
    display: flex;
    flex-direction: column;
}
